<!DOCTYPE html>
<html>
  <head>
    <title>EkAnek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="<%= @ekanek_token %>" name="ekanek"/>

    <% if Rails.env.development? %>
      <meta content="http://localhost:3000/" name="base"/>
    <% elsif Rails.env.production? %>
      <meta content="https://<%= Rails.application.credentials[:production][:host] %>/" name="base"/>
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container mx-auto">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
